In [1]:
import sys
from pathlib import Path
from os import getcwd
from os.path import join

sys.path.append(str(Path(getcwd()).parent))
current_dir = getcwd()
print(current_dir)

/home/jvas22/Documentos/joao/AnaliseEnsinoSuperiorPublico/notebooks

In [2]:
import pandas as pd
pd.set_option('display.max_columns', None)
pd.set_option('display.max_rows', 200)

import numpy as np

In [3]:
caminho_entrada = join(Path(getcwd()).parent,"dados","microdados_Enade_2019_LGPD", "2. DADOS")

In [4]:
class Dados():
    def leituraDados(entrada):
        DataFrame = pd.read_csv(join(caminho_entrada,str(entrada).split(",")[0]), sep = ';', low_memory = False).reset_index()
        count = 0
        for arquivo in str(entrada).replace(" ","").split(","):
            if count == 0:
                count = count+1
            else:
                DataFrame = DataFrame.merge(pd.read_csv(join(caminho_entrada,arquivo), sep = ';', low_memory = False).reset_index(), how = 'left', on = 'index')
        return DataFrame.set_index('index')

In [5]:
dados = Dados.leituraDados("microdados2019_arq14.txt")
dados

        NU_ANO  CO_CURSO QE_I08
index
0         2019      7712      A
1         2019     11652      A
2         2019     29418      A
3         2019     38596      A
4         2019     60660      A
...        ...       ...    ...
433925    2019   5001210    NaN
433926    2019   5001283    NaN
433927    2019     83604    NaN
433928    2019     83604    NaN
433929    2019     83604    NaN

[433930 rows x 3 columns]